<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mentors</title>
    <link rel="stylesheet" href="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\static\css\mentor.css">
</head>
<body>
    <div id="mentor-container">
        <div id="left-column">
            <div class="mentor-details">
                <h3>Syed Tahir Abbas Hasani</h3>
                <p><strong>Contact No.:</strong> 9318401383</p>
                <p><strong>Email:</strong> tahirsyed@gmail.com</p>
                <p><strong>Address:</strong> Delhi, India</p>
            </div>

            <div class="mentor-details">
                <h3>Haris Ali Khan</h3>
                <p><strong>Contact No.:</strong> 7423493479</p>
                <p><strong>Email:</strong> codewithharry@gmail.com</p>
                <p><strong>Address:</strong> Delhi, India</p>
            </div>

            <div class="mentor-details">
                <h3>Meghna Dutta</h3>
                <p><strong>Contact No.:</strong> 98124471298</p>
                <p><strong>Email:</strong> meghna.dutta@gmail.com</p>
                <p><strong>Address:</strong> Kolkata, India</p>
            </div>
        </div>
    
        <div id="right-column">
            <img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image10.jpg" alt="Syed Tahir Abbas Hasani">
            <img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image11.png" alt="Haris Ali Khan">
            <img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image12.jpeg" alt="Meghna Dutta">
        </div>
    </div>
</body>
</html>
