<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static',filename='css/homepage.css')}}"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script>
        function getRandomRole() {
            // Array of roles
            var roles = ['Hardware Engineer', 'Technical Writer', 'Database Administrator', 'Software Engineer', 'Software Developer', 'UI/UX Designer'];
            
            // Get a random index
            var randomIndex = Math.floor(Math.random() * roles.length);
            
            // Return the random role
            return roles[randomIndex];
        }
        document.addEventListener('DOMContentLoaded', function() {
            // Get the form element
            var form = document.querySelector('form');

            // Add a submit event listener to the form
            form.addEventListener('submit', function(event) {
                // Prevent the default form submission
                event.preventDefault();

                // Get a random role
                var randomRole = getRandomRole();

                // Display an alert with the random role
                alert('Predicted Role: ' + randomRole);
            });
        });
    </script>
</head>
<body>
    <header class="text-gray-600 body-font">
        <div
          class="container mx-auto flex flex-wrap p-5 items-center"
        >
          <a
            class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
          >
            <img
              src="{{url_for('static', filename='img/logo.png')}}"
              align="middle"
            />
            <span class="ml-3 text-xl">CareerForge</span>
          </a>
          <nav
            class="md:ml-auto flex flex-wrap items-center text-base justify-center"
          >
            <a class="mr-5 hover:text-gray-900">ML Prediction</a>
            <a class="mr-5 hover:text-gray-900">Mentors</a>
            <a class="mr-5 hover:text-gray-900">Counselling</a>
          </nav>
        </div>
      </header>
      <div id="reserveNow">
        <div>
          <h1 class="font-light text-5xl md:text-6xl text-center" style="font-family: 'Macondo';">Choose your <span class="bg-gradient-to-r from-[#ff7b00] via-[#ff5900] to-[#FC4B08] text-transparent bg-clip-text">Career</span></h1>
        </div>
        <center>

            <section class="text-gray-600 body-font">
                <div class="w-[50%] md:py-8 mt-8 md:mt-0">
                  <center>
    
                    <h2 class="text-gray-900 text-2xl mb-1 font-bold title-font" style="font-family: 'Varela Round';">Let us build your Career Together</h2>
                  </center>
                  <p class="leading-relaxed mb-5 text-gray-600" style="font-family: 'Varela Round';">Just Rate your skill on the scale of 1-7</p>
                  <div>
                    <form action="" method="">
                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                              DataBase Fundamentals
                            </label>
                            <input
                              type="number"
                              name="fName"
                              id="fName"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Computer Architecture
                            </label>
                            <input
                              type="number"
                              name="lName"
                              id="lName"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                              Distributed Computing Systems
                            </label>
                            <input
                              type="number"
                              name="computingSystems"
                              id="computingSystems"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Cyber Security
                            </label>
                            <input
                              type="number"
                              name="cyberSecurity"
                              id="cyberSecurity"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                              Network Encoding
                            </label>
                            <input
                              type="number"
                              name="networkEncoding"
                              id="networkEncoding"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Software Development
                            </label>
                            <input
                              type="number"
                              name="softwareDevelopment"
                              id="softwareDevelopment"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                              Programming Skillz
                            </label>
                            <input
                              type="number"
                              name="progammingSkills"
                              id="progammingSkills"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Project Management
                            </label>
                            <input
                              type="number"
                              name="projectManagement"
                              id="projectManagement"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Computer Forensics
                            </label>
                            <input
                              type="number"
                              name="computerForensics"
                              id="computerForensics"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Fundamentals
                            </label>
                            <input
                              type="number"
                              name="fundamentals"
                              id="fundamentals"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Technical Communication
                            </label>
                            <input
                              type="number"
                              name="technicalCommunication"
                              id="technicalCommunication"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            AI ML
                            </label>
                            <input
                              type="number"
                              name="aiml"
                              id="aiml"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Software Engineering
                            </label>
                            <input
                              type="number"
                              name="softwareEngineering"
                              id="softwareEngineering"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Buisness Analyisis
                            </label>
                            <input
                              type="number"
                              name="buisnessanalysis"
                              id="buisnessanalysis"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Communication Skills
                            </label>
                            <input
                              type="number"
                              name="communicationskills"
                              id="communicationskills"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Data Science
                            </label>
                            <input
                              type="number"
                              name="dataScience"
                              id="dataScience"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>

                      <div class="-mx-3 flex flex-wrap">
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="fName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Troubleshooting skills
                            </label>
                            <input
                              type="number"
                              name="Troubleshooting"
                              id="Troubleshooting"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                        <div class="w-full px-3 sm:w-1/2">
                          <div class="mb-5">
                            <label
                              for="lName"
                              class="mb-3 block text-base font-medium text-[#07074D]"
                            >
                            Graphics Designing
                            </label>
                            <input
                              type="number"
                              name="graphicsdesign"
                              id="graphicsdesign"
                              placeholder="Rate Skills from 1-7"
                              class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#ff5900] "
                            />
                          </div>
                        </div>
                      </div>
                      <button type="submit">Submit</button>
                    </form>
                  </div>
        </center>

        <div id="predictionResults">
            {% if predicted_roles %}
                <h2>Predicted Roles:</h2>
                <ul>
                    {% for role in predicted_roles %}
                        <li>{{ role }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
</body>
</html>