<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\static\css\resume.css">
</head>
<body>
    <div id="resume-container">
        <div id="left-column">
            <h2>Suggestions for an ideal Resume</h2>
            <ul>
                <li>• Include a clear and concise summary at the beginning.</li>
                <li>• Highlight key skills and achievements relevant to the job.</li>
                <li>• List work experience with bullet points emphasizing accomplishments.</li>
                <li>• Education details with the latest degree first.</li>
                <li>• Include relevant certifications and training.</li>
                <li>• Provide contact information and links to professional profiles.</li>
            </ul>
            <a href="https://www.canva.com/design/DAF6G1nWB7g/L4zUblSVTZLCmS9k9glEjw/edit?referrer=resumes-landing-page" id="make-your-own-resume" target="_blank">Make Your Own Resume</a>
        </div>
    
        <div id="right-column">
            <img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image1.png" alt="Image 1">
        </div>

    </div>
</body>
</html>