<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Material</title>
    <link rel="stylesheet" href="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\static\css\studymaterial.css">
</head>
<body>
    <div id="study-material-container">
        <div id="left-column">
            <h2>Study Material</h2>
            
            <div class="course-details">
                <h4><a href="https://www.youtube.com/playlist?list=PLu0W_9lII9agwh1XjRt242xIpHhPT2llg" target="_blank">Python for Beginners (Full Course) | #100DaysOfCode</a></h4>
                <p>Dive into the realm of programming with our comprehensive Python course. Whether you're a beginner or seeking to enhance your skills, this course delves into the fundamentals of Python programming language. From basic syntax to advanced concepts, you'll be guided through real-world examples, ensuring hands-on experience. Gain the skills needed for a successful coding journey and build a strong foundation in Python for diverse applications. Start your coding adventure with #100DaysOfCode!</p>
            </div>

            <div class="course-details">
                <h4><a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" target="_blank">Web Development Course</a></h4>
                <p>Dive into the world of web development with our comprehensive Web Development Course. Whether you're a beginner or looking to enhance your skills, this course covers the fundamentals of HTML, CSS, and JavaScript, guiding you through the creation of dynamic and responsive websites. Get hands-on experience with real-world projects and build a strong foundation for a successful career in web development.</p>
            </div>

            <div class="course-details">
                <h4><a href="https://www.youtube.com/playlist?list=PLjVLYmrlmjGe-xLyoCdDrt8Nil1Alg_L3" target="_blank">Machine Learning Full Course with Projects (Beginners to Advanced)</a></h4>
                <p>Embark on a journey through the fascinating realm of Machine Learning with our Full Course. Tailored for both beginners and those seeking advanced knowledge, this course explores the principles and applications of machine learning algorithms. From understanding the basics to implementing complex projects, you'll gain valuable insights and practical skills. Elevate your understanding of artificial intelligence and position yourself for success in the ever-evolving field of Machine Learning.</p>
            </div>
        </div>
    
        <div id="right-column">
            <a href="https://www.youtube.com/playlist?list=PLu0W_9lII9agwh1XjRt242xIpHhPT2llg" target="_blank"><img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image7.png" alt="Python Course Image" class="course-image"></a>
            <a href="https://www.youtube.com/playlist?list=PLfqMhTWNBTe3H6c9OGXb5_6wcc1Mca52n" target="_blank"><img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image8.png" alt="Web Development Course Image" class="course-image"></a>
            <a href="https://www.youtube.com/playlist?list=PLjVLYmrlmjGe-xLyoCdDrt8Nil1Alg_L3" target="_blank"><img src="C:\Users\devvr\Documents\GitHub\ACM_Hackathon\assets\image9.png" alt="Machine Learning Course Image" class="course-image"></a>
        </div>
    </div>
</body>
</html>
